$color-light-green: #C6D2B2;
$color-green: #87AA93;
$color-blue: #486163;
$color-dark-purple: #2C2536;
$color-purple: #5F3456; 
$color-light-purple: #A39AAF;

$theme-colors: (
  "primary": $color-green,
  "secondary": $color-purple,
  "success": $color-blue,
  "danger": #ff4136,
  "warning": $color-light-green,
  "info": $color-blue,
);
// //colors
// $color-primary:#55c57a ;
