@font-face {
    font-family: "Oswald";
    src: url("../assets/fonts/Oswald-Regular.ttf");
    src: url("../assets/fonts/Oswald-Regular.ttf") format("ttf"),
        url("../assets/fonts/Oswald-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Butler";
    src: url("../assets/fonts/Butler_Regular.otf");
    font-weight: 400;
}
@font-face {
    font-family: "Butler";
    src: url("../assets/fonts/Butler_Light.otf");
    font-weight: 300;
}
@font-face {
    font-family: "Butler";
    src: url("../assets/fonts/Butler_Medium.otf");
    font-weight: 500;
}
@font-face {
    font-family: "Butler";
    src: url("../assets/fonts/Butler_Black.otf");
    font-weight: 600;
}
@font-face {
    font-family: "Butler";
    src: url("../assets/fonts/Butler_Bold.otf");
    font-weight: 700;
}

.header-hero {
    color: white;
    font-family: "Butler";
    font-weight: 400;
    font-size: 7em;
    @media (max-width: 575.98px) {
        font-size: 4.5em;
    }
}
.p {
    color: $color-dark-purple;
    &-big {
        font-size: 1.6em;
    }
    &-medium {
        font-size: 1.3em;
    }
}

.heading {
    background-color: transparent;
    width: max-content;
    padding: 0.5rem 1rem;
    border-radius: 0px 1rem 0rem 1rem;
    transition: all 0.5s ease-in-out;
    color: $color-dark-purple;

    @media (max-width: 830px) {
        width: fit-content;
    }
}

.heading-wrap {
    &:hover {
        & > .heading {
            color: white;
            background-color: $color-blue;
        }
    }
}
